In [1]:
import pandas as pd 
import numpy as np

In [2]:
import json

In [3]:
text = {
    'Geeks': [
        {
            'Geekname': 'Sahil Kumar', 
            'subject': 'Data structures', 
            'Articles': 10
        },
        {
            'Geekname': 'Pawan singh',
            'subject': 'Algorithms', 
            'Articles': 16
        }, 
        {
            'Geekname': 'Ayush Goel', 
            'subject': 'Networking', 
            'Articles': 7
        }
    ]
}

In [4]:
json_file = json.dumps(text)

In [5]:
json_file_new = json.loads(json_file)

In [7]:
from pandas.io.json import json_normalize

In [63]:

df = json_normalize(json_file_new['Geeks']) 
df.head()

   Articles     Geekname          subject
0        10  Sahil Kumar  Data structures
1        16  Pawan singh       Algorithms
2         7   Ayush Goel       Networking

In [39]:
data = {
"header": {
"type": "esummary",
"version": "0.3"
},
"result": {
"12967": {
"uid": "12967",
"pubdate": "1976 Dec 11",
"epubdate": "",
"source": "Eur J Biochem",
"authors": [
{
"name": "Giannini I",
"authtype": "Author",
"clusterid": ""
},
{
"name": "Baroncelli V",
"authtype": "Author",
"clusterid": ""
},
{
"name": "Boccalon G",
"authtype": "Author",
"clusterid": ""
},
{
"name": "Fasella P",
"authtype": "Author",
"clusterid": ""
}
],
"lastauthor": "Fasella P",
"title": "Kinetics of the interaction between aspartic aminotransferase and anions.",
"sorttitle": "kinetics of the interaction between aspartic aminotransferase and anions",
"volume": "71",
"issue": "2",
"pages": "475-81",
"lang": [
"eng"
],
"nlmuniqueid": "0107600",
"issn": "0014-2956",
"essn": "1432-1033",
"pubtype": [
"Journal Article"
],
"recordstatus": "PubMed - indexed for MEDLINE",
"pubstatus": "4",
"articleids": [
{
"idtype": "pubmed",
"idtypen": 1,
"value": "12967"
},
{
"idtype": "doi",
"idtypen": 3,
"value": "10.1111/j.1432-1033.1976.tb11136.x"
},
{
"idtype": "rid",
"idtypen": 8,
"value": "12967"
},
{
"idtype": "eid",
"idtypen": 8,
"value": "12967"
}
],
"history": [
{
"pubstatus": "pubmed",
"date": "1976/12/11 00:00"
},
{
"pubstatus": "medline",
"date": "1976/12/11 00:01"
},
{
"pubstatus": "entrez",
"date": "1976/12/11 00:00"
}
],
"references": [],
"attributes": [
"Has Abstract"
],
"pmcrefcount": "",
"fulljournalname": "European journal of biochemistry",
"elocationid": "",
"doctype": "citation",
"srccontriblist": [],
"booktitle": "",
"medium": "",
"edition": "",
"publisherlocation": "",
"publishername": "",
"srcdate": "",
"reportnumber": "",
"availablefromurl": "",
"locationlabel": "",
"doccontriblist": [],
"docdate": "",
"bookname": "",
"chapter": "",
"sortpubdate": "1976/12/11 00:00",
"sortfirstauthor": "Giannini I",
"vernaculartitle": ""
},
"uids": [
"12967"
]
}
}

In [40]:
json_file = json.dumps(data)

In [45]:
python_file = json.loads(json_file)

In [46]:
from pandas.io.json import json_normalize

In [57]:
json_normalize(data = python_file)

,header.type,header.version,result.12967.articleids,result.12967.attributes,result.12967.authors,result.12967.availablefromurl,result.12967.bookname,result.12967.booktitle,result.12967.chapter,result.12967.doccontriblist,...,result.12967.sortpubdate,result.12967.sorttitle,result.12967.source,result.12967.srccontriblist,result.12967.srcdate,result.12967.title,result.12967.uid,result.12967.vernaculartitle,result.12967.volume,result.uids
0,esummary,0.3,"[{'idtype': 'pubmed', 'idtypen': 1, 'value': '...",[Has Abstract],"[{'name': 'Giannini I', 'authtype': 'Author', ...",,,,,[],...,1976/12/11 00:00,kinetics of the interaction between aspartic a...,Eur J Biochem,[],,Kinetics of the interaction between aspartic a...,12967,,71,[12967]

In [107]:
data1 = {"row 1":{"col 1":"a", "col 2":"b"},
 "row 2":{"col 1":"c", "col 2":"d"}}

In [108]:
json_file = json.dumps(data1)

In [109]:
python_file = json.loads(json_file)

In [110]:
#df = json_normalize(python_file['row 1', 'row 2']) 
#df.head() 

df = json_normalize(python_file, meta = ['row 1', 'row 2'])

In [111]:
df.head()

  row 1.col 1 row 1.col 2 row 2.col 1 row 2.col 2
0           a           b           c           d

In [41]:
import demjson

In [42]:
var = [{"Math": 50, "physics":60, "Chemistry":70}]

In [43]:
print(demjson.encode(var))

[{"Chemistry":70,"Math":50,"physics":60}]

In [44]:
print(json.dumps(var))

[{"Math": 50, "physics": 60, "Chemistry": 70}]

In [ ]:
nycphil = json_normalize(d['programs']) 
nycphil.head(3)

In [35]:
import pandas as pd 
# Creating Dataframe  
df = pd.DataFrame([['a', 'b'], ['c', 'd']], 
                  index =['row 1', 'row 2'], 
                  columns =['col 1', 'col 2'])

In [37]:
# Indication of expected JSON string format 
print(df.to_json(orient ='split'))

{"columns":["col 1","col 2"],"index":["row 1","row 2"],"data":[["a","b"],["c","d"]]}

In [38]:
print(df.to_json(orient ='index'))

{"row 1":{"col 1":"a","col 2":"b"},"row 2":{"col 1":"c","col 2":"d"}}

In [104]:
from pandas.io.json import json_normalize

data = [{'id': 1, 'name': {'first': 'Coleen', 'last': 'Volk'}},
        {'name': {'given': 'Mose', 'family': 'Regner'}},
        {'id': 2, 'name': 'Faye Raker'}]

In [106]:
json_normalize(data, meta = ['id', [['name', 'first'], ['name', 'last']]])

    id        name name.family name.first name.given name.last
0  1.0         NaN         NaN     Coleen        NaN      Volk
1  NaN         NaN      Regner        NaN       Mose       NaN
2  2.0  Faye Raker         NaN        NaN        NaN       NaN

In [113]:
data = [{'state': 'Florida',
          'shortname': 'FL',
          'info': {
               'governor': 'Rick Scott'
          },
          'counties': [{'name': 'Dade', 'population': 12345},
                      {'name': 'Broward', 'population': 40000},
                      {'name': 'Palm Beach', 'population': 60000}]},
         {'state': 'Ohio',
          'shortname': 'OH',
          'info': {
               'governor': 'John Kasich'
          },
          'counties': [{'name': 'Summit', 'population': 1234},
                       {'name': 'Cuyahoga', 'population': 1337}]}]

In [114]:
result = json_normalize(data, 'counties', ['state', 'shortname',
                                           ['info', 'governor']])

In [115]:
result.head()

         name  population    state shortname info.governor
0        Dade       12345  Florida        FL    Rick Scott
1     Broward       40000  Florida        FL    Rick Scott
2  Palm Beach       60000  Florida        FL    Rick Scott
3      Summit        1234     Ohio        OH   John Kasich
4    Cuyahoga        1337     Ohio        OH   John Kasich

In [132]:
data_new = { 
"coin":{"id":363,"name":"Bitcoin","code":"BTC"},
"dataType":"marketCap",
"baseCurrency":"USD",
"data":[{"date":"2018-01-12","marketCap":"232547809668.32000000"},{"date":"2018-01-13","marketCap":"241311607656.32000000"}]
}

In [133]:
file = json.loads(json.dumps(data_new))

In [134]:
from pandas.io.json import json_normalize

In [139]:
json_normalize(file, record_path = 'data', meta = [['coin', 'id'], ['coin', 'name'], ['coin', 'code'], 
                                                   'dataType', 'baseCurrency'])

,date,marketCap,coin.id,coin.name,coin.code,dataType,baseCurrency
0,2018-01-12,232547809668.32000000,363,Bitcoin,BTC,marketCap,USD
1,2018-01-13,241311607656.32000000,363,Bitcoin,BTC,marketCap,USD