In [2]:
import json 
import pandas as pd 
from pandas.io.json import json_normalize

<b>TASK 1<B>

In [7]:
df = pd.read_json('https://raw.githubusercontent.com/chrisalbon/simulated_datasets/master/data.json', orient = 'columns')

In [8]:
df.head()

   integer            datetime  category
0        5 2015-01-01 00:00:00         0
1        5 2015-01-01 00:00:01         0
2        9 2015-01-01 00:00:02         0
3        6 2015-01-01 00:00:03         0
4        6 2015-01-01 00:00:04         0

In [10]:
df.to_json('python/json_file_output.json', orient = 'split')

In [9]:
#import json_normalize 
from  pandas.io.json import json_normalize

<b>TASK 2</B>

In [33]:
nested_json = """{
   "article": [

      {
         "id":"01",
         "language": "JSON",
         "edition": "first",
         "author": "Allen"
      },

      {
         "id":"02",
         "language": "Python",
         "edition": "second",
         "author": "Aditya Sharma"
      }
   ],

   "blog":[
   {
       "name": "Datacamp",
       "URL":"datacamp.com"
   }
   ]
}"""

In [34]:
#convert to python object 
df_new = json.loads(nested_json)

In [35]:
df_new

{'article': [{'id': '01',
   'language': 'JSON',
   'edition': 'first',
   'author': 'Allen'},
  {'id': '02',
   'language': 'Python',
   'edition': 'second',
   'author': 'Aditya Sharma'}],
 'blog': [{'name': 'Datacamp', 'URL': 'datacamp.com'}]}

In [38]:
#showing the article table
json_normalize(data = df_new, record_path= 'article')

   id language edition         author
0  01     JSON   first          Allen
1  02   Python  second  Aditya Sharma

In [39]:
#showing the blog file
json_normalize(data = df_new, record_path= 'blog')

       name           URL
0  Datacamp  datacamp.com

<B>TASK 3</B>

In [41]:
nested_json_new = {
   "article": [

      {
         "id":"01",
         "language": "JSON",
         "edition": "first",
         "author": "Allen"
      },

      {
         "id":"02",
         "language": "Python",
         "edition": "second",
         "author": "Aditya Sharma"
      }
   ],

   "blog":[
   {
       "name": "Datacamp",
       "URL":"datacamp.com"
   }
   ]
}

In [47]:
#Flatten the file 
json_file_article = pd.DataFrame.from_dict(json_normalize(data = nested_json_new['article']))

In [49]:
#exploring the article table
json_file_new.head(10)

   id language edition         author
0  01     JSON   first          Allen
1  02   Python  second  Aditya Sharma

In [50]:
#exploring the blog table
json_file_blog = pd.DataFrame.from_dict(json_normalize(data = nested_json_new['blog']))

In [52]:
#Exploring the blog file
json_file_blog.head(6)

       name           URL
0  Datacamp  datacamp.com